FABRIC_WORKSPACE_NAME=ws-OntHydroSelfContained
RAYFIN_PUBLIC_KQL_CLUSTER_URI=https://trd-ux69cvks1a44fjmv0j.z9.kusto.fabric.microsoft.com
RAYFIN_PUBLIC_KQL_DATABASE=RTI_Demo_Eventhouse_V6
RAYFIN_PUBLIC_AAD_CLIENT_ID=22dedc54-8b7e-442c-929d-497c4df086e6
RAYFIN_PUBLIC_TENANT_ID=ad340c84-1886-4202-a483-2da2cb9168eb
RAYFIN_PUBLIC_LAKEHOUSE_SQL_ENDPOINT=1ea2c725-c596-4833-ac83-30c45c04a546
RAYFIN_PUBLIC_LAKEHOUSE_NAME=Energy_IQ_LakehouseRTI_V6
RAYFIN_PUBLIC_STID_GRAPHQL_URL=https://a79a4b7ee5084fa48b6f15deadca0f34.za7.graphql.fabric.microsoft.com/v1/workspaces/a79a4b7e-e508-4fa4-8b6f-15deadca0f34/graphqlapis/a9d82c5c-2c8d-4957-929b-16a33aed4899/graphql
RAYFIN_PUBLIC_DATA_AGENT_MCP_URL=
RAYFIN_PUBLIC_STREAM_PIPELINE_ID=99a797d3-9c62-46e7-bee8-e60226f5d78b
RAYFIN_PUBLIC_STREAM_PIPELINE_NAME=02_Pipe_Stream
RAYFIN_PUBLIC_STREAM_NOTEBOOK_ID=04d7f1ba-a754-4ee6-a6fb-1f371605968b
RAYFIN_PUBLIC_WORKSPACE_ID=a79a4b7e-e508-4fa4-8b6f-15deadca0f34